@import '../base/vars';

.token-usage {
    &__inner {
        @extend %flex-row;
    }

    &__img {
    }

    &__content {
        flex-shrink: 0;
        padding-top: 13rem;
        padding-left: 11.6rem;
        position: relative;
        max-width: 69rem;
        > * {
            position: relative;
            z-index: 2;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 44.9rem;
            height: 55.5rem;
            border-radius: 2rem;
            background: linear-gradient(327.01deg, #05030e 69.78%, #7ee8a0 133.71%);
        }
        &::after {
            content: '';
            position: absolute;
            top: 0.1rem;
            left: 0.1rem;
            width: 44.9rem - 0.2rem;
            height: 55.5rem - 0.2rem;
            background-color: $black;
            border-radius: 2rem;
        }
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 4.6rem;
        }
    }

    &__list-item {
        @extend %text-16;
        line-height: 2.4rem;
        font-weight: 700;
        position: relative;
        padding-left: 4.5rem;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 1rem;
            width: 1.9rem;
            height: 0.8rem;
            background: linear-gradient(105.56deg, #e2f685 18.43%, #8af9ad 89.58%);
            border-radius: 0.8rem;
        }
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}
