@import '../base/vars';

.token-benefits {
    padding-bottom: 17.3rem;

    &__items {
        display: flex;
        justify-content: center;

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__slider {
        display: none;

        @media (max-width: 1024px) {
            display: block;
        }
    }

    &__item {
        width: 29.2rem;
        padding: 5.2rem 5.5rem;

        @media (min-width: 1025px) {
            margin: 0 1.6rem;
        }

        @media (max-width: 1024px) {
            width: 27rem !important;
        }
    }
}

.token-benefit {
    @extend %box;
    background: linear-gradient(139.69deg, #05030e 3.61%, #7ee8a0 114.72%);
    transition: 0.3s all;

    @media (any-hover: hover) {
        &:hover {
            transform: translateY(-2rem);
            box-shadow: 0rem 3.4rem 7.4rem rgba(162, 220, 137, 0.2);
            background: linear-gradient(139.69deg, #e3f784 3.61%, #7ee8a0 114.72%);

            .token-benefit {
                &__img {
                    background: linear-gradient(139.33deg, #bbc423 -14.59%, #e99a3d 99.86%);
                    box-shadow: 0rem 1.4rem 4.4rem rgba(220, 152, 57, 0.6);
                }
            }
        }
    }

    &__top {
        @extend %vertical-align;

        &:not(:last-child) {
            margin-bottom: 5.2rem;
        }
    }

    &__img {
        width: 5.8rem;
        height: 5.8rem;
        border-radius: 1rem;
        border: 0.1rem solid #37583c;
        @extend %flex-center;
        flex-shrink: 0;
        margin-right: 1.9rem;
        transition: 0.3s all;

        img {
            width: 3.4rem;
            height: 3.4rem;
        }
    }

    &__title {
        @extend %text-16;
        font-weight: 700;
        line-height: 2.3rem;
        text-transform: uppercase;
    }

    &__descr {
        @extend %text-14;
        line-height: 2.4rem;
        font-weight: 500;
    }
}
