@import '../base/vars';

.nav-menu {
    &__list {
        @media (min-width: 1025px) {
            display: flex;
        }
    }

    &__item {
        @media (min-width: 1025px) {
            margin-right: 5rem;
        }

        @media (max-width: 1024px) {
            margin-bottom: 3rem;
        }
    }

    &__link {
        @extend %text-16;
        line-height: 2rem;
        font-weight: 600;
        transition: 0.3s color;
        cursor: pointer;

        @media (max-width: 1024px) {
            font-size: 2.4rem;
            line-height: 2.9rem;
        }

        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }
}
