@import '../base/vars';

.token-sale {
    @media (min-width: 1025px) {
        padding-bottom: 22.7rem;
    }

    &__title {
        &:not(:last-child) {
            margin-bottom: 5.5rem;
        }

        @media (min-width: 768px) {
            text-align: center;
        }
    }

    &__inner {
        @media (min-width: 768px) {
            display: grid;
            grid-gap: 2rem;
        }

        @media (min-width: 1025px) {
            grid-template-columns: 17.5rem * 5+2.4rem * 4 1fr;
            grid-template-rows: max-content 6.2rem;
            grid-template-areas:
                'ol conditions'
                'ol btn';
            grid-gap: 2.2rem 2.9rem;
        }
    }

    &__list {
        display: none;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1.9rem 2.4rem;
        }

        @media (min-width: 1025px) {
            grid-area: ol;
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__list-item {
        &:nth-last-child(-n + 2),
        &:last-child {
            @media (min-width: 768px) {
                grid-column: span 2;
            }
            @media (min-width: 1025px) {
                grid-column: unset;
            }
        }
    }

    &__slider {
        display: none;
        padding-top: 4rem;

        @media (max-width: 767px) {
            display: block;
        }

        &:not(:last-child) {
            margin-bottom: 7.6rem;
        }

        .swiper-slide {
            @media (max-width: 767px) {
                width: 17.6rem !important;
            }
        }
    }

    &__conditions {
        @media (min-width: 1025px) {
            grid-area: conditions;
        }

        @media (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 2.2rem;
            }
        }
    }

    &__btn {
        @extend %text-16;
        @extend %flex-center;
        font-weight: 600;

        @media (min-width: 1025px) {
            grid-area: btn;
        }

        @media (max-width: 1024px) {
            padding: 2.1rem;
        }
    }
}
