@import './vars';
@import './mixins';
@import './null';

.wrapper {
    @extend %flex-col;
    min-height: 100vh;
    position: relative;
    background-size: 111rem 99.9rem;
    background-position: 50rem 2.1rem;
    background-repeat: no-repeat;

    &::before {
        //content: '';
        position: absolute;
        top: -28.5rem;
        left: -22.9rem;
        z-index: -1;
        width: 84.8rem;
        height: 84.8rem;
        border-radius: 50%;
        background-color: #0f3123;
        filter: blur(43rem);
    }
}

.container {
    max-width: 137rem + $gap * 2;
    padding: 0 4.5rem;
    margin: 0 auto;
}

.page {
    flex: 1 1 auto;
}

.btn {
    background: linear-gradient(180deg, #e2f685 0%, #8af9ad 100%);
    border-radius: 1.7rem;
    color: $black;
    text-align: center;
    @extend %text-16;
    line-height: 2rem;
    font-weight: 600;

    &--blue {
        background: linear-gradient(135deg, #00ffaa 0%, #4579f5 53.01%, #9c42f5 99.83%);
    }

    &--border {
        position: relative;
        z-index: 2;
        color: #fff;

        &::before {
            content: '';
            position: absolute;
            top: 0.2rem;
            right: 0.2rem;
            bottom: 0.2rem;
            left: 0.2rem;
            z-index: -1;
            background-color: $black;
            border-radius: 0.8rem;
        }
    }
}

.section-title {
    @extend %text-34;

    &--accent {
        color: $accent;
    }
}

.title {
    @extend %text-24;
    font-weight: 700;
    color: #fff;
}
